.form-container{
    display: flex;
    width:50em;
    border-top: 3px solid black;
    margin: 1em 0;
    padding: 2em;
    justify-content: space-evenly;
}

.seccionContacto {
    width: 75%;
    margin-right: 30px;
}


.seccionContacto .form_partes {
    display:flex;
    justify-content: space-between;
}


.form_partes input {
    width: 45%;
}

 textarea {
    width: 100%;
}



.form_partes input, textarea{

    margin: 15px 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.form_partes input:focus, textarea:focus {
    background-color: rgba(6, 3, 3, 0.158);
}

.seccion2 {
width:30% ;


}

ul li {
    list-style: none;
}



.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
    transition: transform .2s;
    
}

.btn:hover {
    transform: scale(.9);
}



.btn-primary {
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #191b1b;
}
.buttons{
    /* Agregarle espacio entre los botones ocn un space-between */
}
